.goods-content>.title{
    margin: 0 0 .16rem;
    font-size: .18rem;
    padding-top:.16rem;
}

.search-result-content div.wrapper-son>.title,.search-records-content>.title{
    margin: .2rem 0 .08rem;
    font-size: .16rem;
    line-height: .22rem;
    color: #030303;
    font-weight: normal;
}
.search-result-content div.wrapper-son>.title:before{
    display: inline-block;
    margin-right: .08rem;
    content: '';
    width: .03rem;
    height: .13rem;
    background-color: #ffbf00;
}
.search-result-content div.wrapper-son>.title{
    padding:0 .14rem;
}
.search-result-content .list{
   
}
.search-records-content .list{
    font-size: .14rem;
    color: #666;
}
.search-records-content .list .remove-btn{
    float: right;
}
.search-records-content .btn-wrap{
    margin-top: .44rem;
    font-size: .14rem;
    text-align: center;
}
.search-records-content .btn-wrap .btn{
    display: inline-block;
    height: .36rem;
    line-height: .36rem;
    padding: 0 .24rem 0 .47rem;
    background-color: #fff;
    border: .01rem solid #e9e9e9;
    color: #030303;
    background: url(../images/icon-remove.png) no-repeat;
    background-size: .14rem .15rem;
    background-position: .24rem center;
}
.goods-list .media-object{
    max-width: .7rem;
    width: .7rem;
    line-height: .7rem;
    height: .7rem;
    margin-right: .12rem;
}
.goods-list .media-body{
    position: relative;
    font-size: .16rem;
}
.goods-list .media-body .title{
    margin-bottom: .03rem;
    line-height: .22rem;
}
.goods-list .media-body  p{
    line-height: .17rem;
    margin-bottom: .09rem;
    font-size: .12rem;
    color: #b5b5b5;
}
.goods-list .media-body  p.text-right{
    position: absolute;
    right: 0;
    top: 0;
    line-height: .24rem;
    margin-bottom: 0;
    color: #666;
    font-size: .13rem;
}
.goods-list .media-body  p.summary{
    width: 1.56rem;
    margin-bottom:0;
    font-size: .13rem;
    color: #666;
}


.goods-list .media-body p.data span{
    margin-left: 0;
    margin-right: .14rem;
    color: #b5b5b5;
}
.goods-list.extend-goods-list .media-body .title{
    width: 1.4rem;
    margin-bottom: .07rem;
}
.goods-list.extend-goods-list .media-body p{
    margin-bottom: .03rem;
}
.goods-list.extend-goods-list .media-body  p.text-right{
    color: #ff3f3f;
}


.goods-list .media-body  p.text-right span{
    margin-left: .04rem;
    color: #ff3f3f;
    font-size: .17rem;
    font-weight: 500;
}
.goods-list .media-body .btn{
    position: absolute;
    right: 0;
    bottom: 0;
    /* height: .22rem; */
    line-height: .22rem;
    padding:0 .12rem;
    font-size: .13rem;
    color: #fff;
   
}
.goods-list:last-child:after{
    height: 0;
}
.search-result-content .goods-list.list li:last-child:after{
    height: .01rem;
}
.extend-goods-list .media-body  p span{
    display: inline-block;
    margin-left: .1rem;
    color: #333;
}
.goods-list.extend-goods-list .media-body .btn{
    /* height: .25rem; */
    line-height: .25rem;
    padding:0 .16rem;
}
.goods-list.loan-goods-list .media-object{
    margin-right: 0;
    height: .26rem;
    max-width: .26rem;
}
.goods-list.loan-goods-list .media-body{
    margin-left: .38rem;
}
.goods-list.loan-goods-list .media-body .summary{
    font-size: .14rem;
}
.loan-goods-list li:after{
    left:.38rem;
}

